# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment directories
venv/
venv310/
env/
.venv/
.env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore IDE specific files
.vscode/
.idea/
